body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .conteinerI {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  
  .conteinerI::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://imagenes.muyinteresante.es/files/composte_image/uploads/2023/08/01/64c8a20035395.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }

section {
    margin-bottom: 20px;
    text-align: center;
    z-index: 1;
}

.titleI {
    font-size: 42px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    
}

.titleII {
    font-size: 1.5em;
    color: #000000; 
    font-family: 'Pacifico', cursive;
}

.spanI {
    font-size: 1.2em;
    color: #ccc; 
    font-family: 'Lora', serif;
}

.oli, .uli {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 22px;
    font-family: 'Lobster', sans-serif;
    
}

.lii {
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    color: #f1f1f1;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #45a049;
}
