.conteinerTL {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  position: relative;
  overflow: hidden;  
  min-height: 100vh;
  }

.conteinerTL::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-image: url("https://www.shutterstock.com/image-photo/crescent-moon-beautiful-sunset-background-600nw-1086758672.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.tableTL {
  width: 90%;
  margin: auto;
  border: 1px solid whitesmoke;
  padding: 10px;
  
}
  
  .tht, .tbt {
    text-shadow: 1px 1px 1px black;
    border: 1px solid whitesmoke;
  }
